.contain {
    background-color: #5534db;
    opacity: 0.9;
    display: block;
    /* o display: grid */
    justify-content: space-around;
    border: 1px solid #3a4447;
    border-radius: 35px;
    padding: 50px 300px;



}

.inputDiv {
    display: flex;
    flex-direction: column;

    width: 300px;
    /* Ajusta según tus necesidades */
    height: 200px;
    /* Ajusta según tus necesidades */
    border: 1px solid #ccc;
    margin: 10px;
}

.contain p {
    color: yellow;
}

.contain h2 {
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;

}

.contain h3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: white;
}

.contain input {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 11px;
    font-size: 16px;
    border: 2px solid #162485;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.contain input:focus {
    border-color: #277fae;
    box-shadow: 0 0 5px rgba(39, 174, 174, 0.5);
}

.contain button {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 3px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3a4447;
    border-radius: 5px;
    color: #fbfafa;
    background-color: #f9f93a;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.contain select {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

/* Estilo al pasar el ratón sobre el select */
.contain select:hover {
    border-color: #888;
}

/* Estilo al enfocar el select */
.contain select:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

/* Estilo para el ícono de flecha desplegable */
.contain select:after {
    content: '\25BC';
    /* Código de la flecha abajo ▼ */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #555;
}

/* Estilo al pasar el ratón sobre el ícono de flecha */
.contain select:hover:after {
    color: #888;
}

/* Estilo al enfocar el select y el ícono de flecha */
.contain select:focus:after {
    color: #555;
}